<footer class="mt-5 bg-light py-5 text-center">

<!-- LIENS UTILES -->
    <div class="row">
        <div class="col-md-1">
            <a href="{{ path('homepage') }}"><img src="/image/logoAfpa.jpg" class="logo"></a>
        </div>
        <div class="col-md-1 mt-5">
            <a href="https://www.afpa.fr/actualites/politique-des-acha-1" style="text-decoration:none; color:#000;" target="_blank">Fournisseurs</a>
        </div>
        <div class="col-md-2 mt-5">
            <a href="https://www.afpa.fr/documents/21653/11788378/CGV-2013/520d15ff-99fc-4b9c-859d-5a2effe48a3c" style="text-decoration:none; color:#000;" target="_blank">CGV</a>
        </div>
        <div class="col-md-2 mt-5">
            <a href="https://www.afpa.fr/documents/21653/0/Regl%C3%A8ment+interieur+stagiaires/06c7bf48-8375-45c6-86d9-81ccc5742473" style="text-decoration:none; color:#000;" target="_blank">Réglement intérieur stagiaires</a>
        </div>
        <div class="col-md-2 mt-5">
            <a href="https://www.afpa.fr/documents/21653/57899608/M%C3%A0J+RIS_20200911.pdf/35ef8116-0726-4a6c-9c80-f473574224f1" style="text-decoration:none; color:#000;" target="_blank">Reglement COVID</a>
        </div>
        <div class="col-md-2 mt-5">
            <a href="https://www.afpa.fr/actualites/cgu" style="text-decoration:none; color:#000;" target="_blank">CGU</a>
        </div>
        <div class="col-md-2 mt-5">
            <a href="http://afpa.fr" style="text-decoration:none; color:#000;" target="_blank">Nous contacter</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1" style="font-family:'Roboto', sans-serif;">
            <p>Copyright BlaBlafpa</p>
        </div>
    </div>
</footer>