<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" type="image/favicon-16x16.png" href="image/favicon-16x16.png"/>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css">
        <title>{% block title %}Welcome!{% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>   
        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}


        {% include 'partials/footer.html.twig' %}

        <script src="/js/jquery.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>

        {# Correction du bug de manque d'affichage du nom de fichier dans le formulaire #}
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
        <script>
            $(document).ready(function () {
                bsCustomFileInput.init()
            })
        </script>
        {% block javascripts %}{% endblock %}
        
    </body>
</html>
